.body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  font-size: large;
  background-color: #a0d3ec;
}

.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* モーダルウィンドウの基本スタイル */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 300px;
  height: 60px;
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 10px;
}

/* モーダルを閉じるボタン（×）のスタイル */
#closeModal {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -30%;
  right: -10%;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  color: #FFF;
  width: 40px;
  height: 40px;
  background-color: #333;
  border: #333;
  border-radius: 50%;
}