        body,
        html {
            margin: 0;
            padding: 0;
            height: 100%;
            font-family: "Yu Gothic", sans-serif;
            font-size:large;
        }

        .container {
            display: flex;
            height: 100vh;
        }

        .sidebar {
            width: 15%;
            background-color: #a0d3ec;
            padding: 20px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            display: flex;
            /* justify-content: center; */
            /* align-items: center; */
            flex-direction: column;
            gap: 15px;
            border-radius: 0 20px 20px 0;
        }

        .nav-button {
            color: #163E64;
            padding: 10px;
            font-size:larger;
            background-color: #46B1E1;
            border: 0.5%;
            border-color: #0B3041;
            border-radius: 10px;
            cursor: pointer;
        }

        .nav-button:hover {
            background-color: #8cc4e4;
        }

        .main-content {
            flex: 1;
            padding: 40px;
        }