        body,
        html {
            margin: 0;
            padding: 0;
            height: 100%;
            font-family: "Helvetica Neue",
                Arial,
                "Hiragino Kaku Gothic ProN",
                "Hiragino Sans",
                Meiryo,
                sans-serif;
            font-size: large;
        }

        .container {
            display: flex;
            height: 100vh;
            overflow: hidden;
            /* ← はみ出しを防ぐ */
        }

        .sidebar {
            width: 200px;
            background-color: #a0d3ec;
            padding: 20px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            display: flex;
            flex-direction: column;
            gap: 15px;
            border-radius: 0 20px 20px 0;
        }

        .nav-button {
            color: #ffff;
            padding: 10px;
            font-size: larger;
            background-color: #46B1E1;
            border: 0.5%;
            border-color: #0B3041;
            border-radius: 10px;
            cursor: pointer;
        }

        .nav-button:hover {
            background-color: #8cc4e4;
        }

        .nav-button.active {
            background-color: #0B3041;
            font-weight: bold;
            color: white;
        }

        .main-content {
            flex: 1;
            padding: 40px;
            height: 100vh;
            box-sizing: border-box;
        }

        .fc-header-toolbar,
        .fc-view-harness,
        .fc-col-header,
        .fc-daygrid-body,
        .fc-scrollgrid-sync-table {
            width: 100vh;
            max-width: 700px;
        }

        #calendar-area {
            flex: 0 0 700px;
        }

        .calendar-detail-wrapper {
            display: flex;
            gap: 30px;
            align-items: flex-start;
        }

        #detail-area {
            flex: 1;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 10px;
            background-color: #f5f5f5;
            min-width: 300px;
        }

        .fc-event-title {
            color: #000 !important;
        }

        .fc-event {
            background-color: transparent !important;
            /* 背景は透明にする場合 */
            border: none !important;
            font-weight: bold;
        }

        td.fc-daygrid-day:hover {
            background-color: rgba(70, 177, 225, 0.15) !important;
            cursor: pointer;
        }