<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
  <meta charset="UTF-8">
  <title>発注予測システム ログイン</title>
  <script th:src="@{/js/login.js}" defer></script>
  <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>
  <div class="login-container">
    <h2>発注予測システム<br>ログイン</h2>

    <!--  Thymeleafでサーバーから渡されたメッセージを埋め込む -->
    <p id="errorMessage" th:text="${errorMessage}" style="color: red; display: none;"></p>

    <form method="post" action="/login">
      <div class="form-box">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email">
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password">
        </div>
      </div>
      <button type="submit">Log in</button>
    </form>


    <script>
      window.addEventListener("DOMContentLoaded", () => {
        const errorElement = document.getElementById("errorMessage");
        if (errorElement.textContent.trim() !== "") {
          errorElement.style.display = "block";
        }
      });
    </script>

    <p><a href="#" id="forgotPasswordLink">パスワードをお忘れですか？</a></p>
  </div>


  <!-- モーダル -->
  <div id="modal" class="modal">
    <div class="modal-content">
      <h2>発注予測システム<br>ログイン</h2>
      <p>パスワードをお忘れの場合は<br>店長・副店長に確認の上、再発行を行ってください。</p>
      <button class="button cancel" id="closeModal">確認</button>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const modal = document.getElementById("modal");
        const openLink = document.getElementById("forgotPasswordLink");
        const closeBtn = document.getElementById("closeModal");

        // リンクがクリックされたときモーダル表示
        openLink.addEventListener("click", function (event) {
          event.preventDefault(); // リンクのジャンプを防止
          modal.style.display = "block";
        });

        // 閉じるボタンがクリックされたとき非表示
        closeBtn.addEventListener("click", function () {
          modal.style.display = "none";
        });

        // モーダルの外側をクリックしたら閉じる
        window.addEventListener("click", function (event) {
          if (event.target === modal) {
            modal.style.display = "none";
          }
        });
      });

    </script>

  </div>

</body>

</html>