<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>商品管理</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <script th:src="@{/js/product_list.js}" defer></script>
</head>

<body>
  <div class="container">
    <!-- ナビゲーション -->
    <div th:replace="fragments/nav :: sidebar"></div>

    <!-- メイン表示 -->
    <div class="main-content" id="mainContent">
      <h1>商品管理画面</h1>
      <h2>商品一覧</h2>
      <table id="productTable">
        <thead>
          <tr>
            <th>商品名</th>
            <th>価格</th>
            <th>JANコード</th>
            <th></th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      <p><a href="#" onclick="openAddModal()">商品追加＋</a></p>
    </div>
  </div>
  <!-- 商品追加モーダル -->
  <div class="modal" id="addModal">
    <div class="modal-content">
      <h3>商品追加</h3>
      <label>商品名：<input type="text" id="addName"></label>
      <label>価格：<input type="number" id="addPrice"></label>
      <label>JANコード：<input type="text" id="addJan"></label>

      <p id="addError" style="color: red;"></p>

      <button class="button cancel" onclick="closeModal('addModal')">戻る</button>
      <button class="button confirm" onclick="addProduct()">追加</button>

    </div>
  </div>
  <!-- 商品編集モーダル -->
  <div class="modal" id="editModal">
    <div class="modal-content">
      <h3>商品編集</h3>
      <label>商品名：<input type="text" id="editName"></label>
      <label>価格：<input type="number" id="editPrice"></label>
      <label>JANコード：<input type="text" id="editJan"></label>

      <p id="editError" style="color: red;"></p>

      <button class="button cancel" onclick="closeModal('editModal')">戻る</button>
      <button class="button confirm" onclick="updateProduct()">変更</button>
      <button class="button danger" onclick="deleteProductFromModal()">削除</button>
    </div>
  </div>

</body>

</html>