<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
   <meta charset="UTF-8">
   <title>一般ユーザー画面</title>
   <link rel="stylesheet" th:href="@{/css/style.css}">
   <script th:src="@{/js/admin.js}" defer></script>
</head>

<body>
   <div class="container">
      <!-- ナビゲーション -->
      <div class="sidebar">
         <p>一般ユーザー：<strong th:text="${name}">[Name]</strong>様</p>
         <button class="nav-button" th:classappend="${activePage == 'sale_input'} ? ' active' : ''"
            onclick="location.href='/sale_input'">販売実績入力</button>
         <a class="logout-link" href="#"
            onclick="document.getElementById('logoutForm').submit(); return false;">ログアウト</a>
      </div>
      <form id="logoutForm" th:action="@{/logout}" method="post" style="display: none;"></form>


      <!-- メイン表示 -->
      <div class="main-content">
         <p><span id="userName">[Name]</span>様、発注予測システムへようこそ。</p>
      </div>
   </div>
</body>

</html>